body{
  margin:0;
  font-family:Arial, Helvetica, sans-serif;
  background:#f3f6fb;
}

.container{
  width:80%;
  margin:auto;
  padding:40px;
}

h1{
  text-align:center;
  color:#1f4e79;
}

.card{
  background:white;
  padding:30px;
  border-radius:10px;
  box-shadow:0 0 10px rgba(0,0,0,.1);
}

textarea{
  width:100%;
  padding:15px;
  font-size:16px;
  margin-top:10px;
}

button{
  margin-top:20px;
  padding:12px 25px;
  border:none;
  background:#1f4e79;
  color:white;
  border-radius:5px;
  cursor:pointer;
}

button:hover{
  background:#163c5d;
}

.result{
  margin-top:30px;
  background:#eef4ff;
  padding:20px;
  border-radius:8px;
}